<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HomeFin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="DefaultConnection"
         connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=HomeBank;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <applicationSettings>
    <HomeFin.Properties.Settings>
      <setting name="PREFIX_SPECIAL" serializeAs="String">
        <value>Income</value>
      </setting>
    </HomeFin.Properties.Settings>
  </applicationSettings>
</configuration>